<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">

        <context:component-scan base-package="com.wbl"/>

        <!--导入属性文件connectInfo.properties-->
        <context:property-placeholder location="classpath:connectInfo.properties"/>

        <!--配置数据源-->
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
                <property name="driverClassName" value="${dataSource.driver}"/>
                <property name="url" value="${dataSource.url}"/>
                <property name="username" value="${dataSource.username}"/>
                <property name="password" value="${dataSource.password}"/>
                <property name="initialSize" value="${dataSource.initialSize}"/>
                <property name="maxIdle" value="${dataSource.maxIdle}"/>
                <property name="maxActive" value="${dataSource.maxActive}"/>
                <property name="maxWait" value="${dataSource.maxWait}"/>
                <property name="minIdle" value="${dataSource.minIdle}"/>
        </bean>

        <!--Spring与Hibernate整合 -->
        <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
                <property name="dataSource" ref="dataSource"/>
                <property name="annotatedClasses">
                        <list>
                                <value>com.wbl.domain.Prov</value>
                                <value>com.wbl.domain.DataInfo</value>
                                <value>com.wbl.domain.Next</value>
                                <value>com.wbl.domain.RelationInfo</value>
                                <value>com.wbl.domain.Source</value>
                                <value>com.wbl.domain.ReceivedParam</value>
                                <value>com.wbl.domain.SendParam</value>
                        </list>
                </property>
                <property name="hibernateProperties">
                        <value>
                                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                                <!-- hibernate.show_sql=true-->
                                hibernate.format_sql=false
                                hibernate.optimistic-lock=all
                                hibernate.hbm2ddl.auto=update
                        </value>
                        <props>
                                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/prov</prop>
                                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                        </props>
                </property>
        </bean>

        <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
                <property name="sessionFactory" ref="hibernateSessionFactory" />
        </bean>

        <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
        <bean id="transactionManager"
              class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="dataSource" />
        </bean>

        <!--Spring与mybatis整合-->
        <bean id="mybatisSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="dataSource"/>
                <!--自动扫描Mapping.xml文件-->
                <property name="mapperLocations" value="classpath:mapping/*.xml"/>
        </bean>

        <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
        <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="basePackage" value="com.wbl.dao" />
                <property name="sqlSessionFactoryBeanName" value="mybatisSqlSessionFactory"/>
        </bean>-->
        <bean id="pageQueryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
                <property name="mapperInterface" value="com.wbl.dao.PageQueryDao" />
                <property name="sqlSessionFactory" ref="mybatisSqlSessionFactory" />
        </bean>

        <bean id="mybatisSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
                <constructor-arg index="0" ref="mybatisSqlSessionFactory" />
        </bean>
</beans>